{% extends '::base.html.twig' %}


{% block body %}

    {#{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }} TO DISBALE HTML5#}

    <div class="span8">
        <h2>Let's keep in touch</h2>

        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        {{ form_errors(form) }}

        {#<div class="form-group">#}
            {#<?php echo form_label("First Name", $firstName['id'], array('class' => 'col-sm-2 control-label')); ?>#}
            {#<div class="col-sm-3">#}
                {#<?php echo form_input($firstName); ?>#}
            {#</div>#}
            {#<div style="color: red; text-align: left" class="control-label">#}
                {#<?php echo form_error($firstName['name']); ?><?php echo isset($errors[$firstName['name']]) ? $errors[$firstName['name']] : ''; ?>#}
            {#</div>#}
        {#</div>#}

        <div class="form-group">
            <div class="col-sm-2 control-label">
                {{ form_label(form.name) }}
            </div>
            <div class="col-sm-3">
                {{ form_widget(form.name) }}
            </div>
            <div style="color: red; text-align: left" class="control-label">
                {{ form_errors(form.name) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">
                {{ form_label(form.email) }}
            </div>
            <div class="col-sm-3">
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div style="color: red; text-align: left" class="control-label"></div>
        </div>

        <div class="form-group">

            <div class="col-sm-2 control-label">
                {{ form_label(form.company) }}
            </div>
            <div class="col-sm-3">
                {{ form_widget(form.company) }}
            </div>
            <div style="color: red; text-align: left" class="control-label">
                {{ form_errors(form.company) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">
                {{ form_label(form.subject) }}
            </div>
            <div class="col-sm-6">
                {{ form_widget(form.subject) }}
            </div>
            <div style="color: red; text-align: left" class="control-label">
                {{ form_errors(form.subject) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">
                {{ form_label(form.message) }}
            </div>
            <div class="col-sm-6">
                {{ form_widget(form.message) }}
            </div>
            <div style="color: red; text-align: left" class="control-label">
                {{ form_errors(form.message) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
               {{ form_widget(form.send) }}
            </div>

        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}
