<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- Bootstrap  CSS -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet"/>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

        <!-- TEMPLATE Starts -->
        {{ include('::template/head.html.twig') }}
        <!-- TEMPLATE Ends -->

        <!-- custom CSS  -->
        {% block stylesheets %}{% endblock %}
    </head>

    <body>

        <!-- Header -->
        {{ include('::template/header.html.twig') }}
        <!-- Header -->

        <!-- Page Title -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <i class="glyphicon glyphicon-tasks page-title-icon"></i>
                        <h2>Services /</h2>
                        <p>Here are the services we offer</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Services Full Width Text -->
        <div class="services-full-width container">
            <div class="row">
                <div class="services-full-width-text col-sm-12">
                    <h4>Lorem Ipsum Dolor Sit Amet</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper <span class="violet">suscipit lobortis</span> nisl ut aliquip ex ea commodo consequat. Lorem ipsum <strong>dolor sit amet</strong>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <strong>eiusmod tempor</strong> incididunt.</p>
                </div>
            </div>
        </div>

        <!-- Services -->
        <div class="what-we-do container">
            <div class="row">
                <div class="service col-sm-3">
                    <div class="icon-awesome">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </div>
                    <h4>Beautiful Websites</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
                <div class="service col-sm-3">
                    <div class="icon-awesome">
                        <i class="glyphicon glyphicon-flash"></i>
                    </div>
                    <h4>Responsive Layout</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
                <div class="service col-sm-3">
                    <div class="icon-awesome">
                        <i class="glyphicon glyphicon-stats"></i>
                    </div>
                    <h4>Awesome Logos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
                <div class="service col-sm-3">
                    <div class="icon-awesome">
                        <i class="glyphicon glyphicon-thumbs-up"></i>
                    </div>
                    <h4>High Res Prints</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                </div>
            </div>
        </div>

        <!-- Services Half Width Text -->
        <div class="services-half-width container">
            <div class="row">
                <div class="services-half-width-text col-sm-6">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper <span class="violet">suscipit lobortis</span> nisl ut aliquip ex ea commodo consequat. Lorem ipsum <strong>dolor sit amet</strong>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <strong>eiusmod tempor</strong> incididunt.</p>
                </div>
                <div class="services-half-width-text col-sm-6">
                    <h4>Dolor Sit Amet</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper <span class="violet">suscipit lobortis</span> nisl ut aliquip ex ea commodo consequat. Lorem ipsum <strong>dolor sit amet</strong>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <strong>eiusmod tempor</strong> incididunt.</p>
                </div>
            </div>
        </div>

        <!-- Call To Action -->
        <div class="call-to-action container">
            <div class="row">
                <div class="call-to-action-text col-sm-12">
                    <div class="ca-text">
                        <p>Lorem ipsum <span class="violet">dolor sit amet</span>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et ut wisi enim.</p>
                    </div>
                    <div class="ca-button">
                        <a href="">Try It Now!</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        {{ include('::template/footer.html.twig') }}
        <!-- Footer -->

        <!-- TEMPLATE Javascript -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        {{ include('::template/js.html.twig') }}
        <!-- JavaScript -->

    </body>

</html>

