<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Welcome!{% endblock %}</title>


        <!-- Bootstrap  CSS -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet" />
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
        {#<link rel="stylesheet" href="{{ asset('bundles/wscoraltec/assets/bootstrap/css/bootstrap.min.css') }} " />#}


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- TEMPLATE Starts -->
        {{ include('WSCoraltecBundle:main:template/head.html.twig') }}
        <!-- TEMPLATE Ends -->

        <!-- custom CSS  -->
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <!-- Header -->
        {{ include('WSCoraltecBundle:main:template/header.html.twig') }}
        <!-- Header -->

        <!-- Slider -->
        {{ include('WSCoraltecBundle:main:template/slider.html.twig') }}
        <!-- Slider -->

        <!-- Site Description -->
        {{ include('WSCoraltecBundle:main:template/siteDesc.html.twig') }}
        <!-- Site Description -->

        <!-- Services -->
        {{ include('WSCoraltecBundle:main:template/service.html.twig') }}
        <!-- Services -->

        <!-- Testimonials -->
        {{ include('WSCoraltecBundle:main:template/testimonial.html.twig') }}
        <!-- Testimonials -->

        <!-- Footer -->
        {{ include('WSCoraltecBundle:main:template/footer.html.twig') }}
        <!-- Footer -->

        <!-- TEMPLATE Javascript -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        {#<script src=" {{ asset('bundles/wscoraltec/assets/js/jquery-1.8.2.min.js') }} "></script>#}
        {#<script src=" {{ asset('bundles/wscoraltec/assets/bootstrap/js/bootstrap.min.js') }} "></script>#}

        {{ include('WSCoraltecBundle:main:template/js.html.twig') }}

        <!-- JavaScript -->

    </body>

</html>

