
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Welcome!{% endblock %}</title>


        <!-- Bootstrap  CSS -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet" />
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
        {#<link rel="stylesheet" href="{{ asset('bundles/wscoraltec/assets/bootstrap/css/bootstrap.min.css') }} " />#}


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- TEMPLATE Starts -->
        {{ include('WSCoraltecBundle:main:template/head.html.twig') }}
        <!-- TEMPLATE Ends -->

        <!-- custom CSS  -->
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <!-- Header -->
        {{ include('WSCoraltecBundle:main:template/header.html.twig') }}
        <!-- Header -->

        <!-- Page Title -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <i class="glyphicon glyphicon-envelope page-title-icon"></i>
                        <h2>Contact Us /</h2>
                        <p>Here is how you can contact us</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Us -->
        <div class="contact-us container">
            <div class="row">
                <div class="contact-form col-sm-8">
                    {% block form %}{% endblock %}
                </div>
                <div class="contact-address ">
                    <h4>We Are Here</h4>
                    <div class="map"></div>
                    <h4>Address</h4>
                    <p>Unit 11, 130 Konrad Cres. <br> Toronto, ON. L3R0G5,Canada</p>
                    <p>Tell: +1-905-604-6234 <br> Toll Free:+1-855-786-5278</p>
                </div>
            </div>
        </div>

        <!-- Footer -->
        {{ include('WSCoraltecBundle:main:template/footer.html.twig') }}
        <!-- Footer -->

        <!-- TEMPLATE Javascript -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        {{ include('WSCoraltecBundle:main:template/js.html.twig') }}
        <!-- JavaScript -->

    </body>

</html>

